.NewUser{
    flex: 4;
    margin: 20px;
}
.newUserForm{
    display: flex;
    flex-wrap: wrap;
}
.newUserItem{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 30px;
    margin-top: 10px;
}
.newUserItem>label{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: gray;
}
.newUserItem>input{
height: 15px;
padding: 10px;
border: 1px solid gray;
border-radius: 5px;
}
.newUserGender>input{
margin-top: 15px;
}
.newUserGender>label{
margin: 10px;
font-size: 18px;
color: #555;
}
.newUserSelect{
    height: 40px;
    border-radius: 5px;
}
.newUserButton{
    width: 200px;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 5px;
    margin-top:30px ;
}