.chart{
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 0px 6px 3px rgba(0,0,0,0.68); 
box-shadow: 1px 0px 6px 3px rgba(0,0,0,0.68);

}
.chartTitle{
    margin-bottom: 20px;
}