.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 1px 0px 6px 3px rgba(114, 106, 106, 0.68); 
    box-shadow: 1px 0px 6px 3px rgba(0,0,0,0.68);
}
.featuredTitle{
    font-size: 20px;
}
.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}
.featuredMoneyRate{
    align-items: center;
    display: flex;
    margin-left: 20px;

}
.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}
.featuredIcon.Negative{
    color: red;
}
.featuredSub{
    color: gray;
    font-size: 15px;
}