.topbar{
    width:100%;
    height: 60px;
    background-color: white;
    position: sticky;
    top:0;
    z-index: 999;
}
.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}
.topbarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    color: #555;
}
.topRight{
    display: flex;
    align-items: center;
}
.topIconBag{
    width:15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: whitesmoke;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.topAvatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
}