.ProductList{
    flex: 4;
}
.productListEdit{
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    cursor: pointer;
    margin-right: 10px;
}
.productListDelete{
color: red;
cursor: pointer;
}
.productListImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.productListUser{
    display: flex;
    align-items: center;
 }
 .productListItem{
     display: flex;
     align-items: center;
 }