.userList{
    flex: 4;
}
.userListUser{
   display: flex;
   align-items: center;
}
.userListImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.userListEdit{
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    cursor: pointer;
    margin-right: 10px;
}
.userListDelete{
color: red;
cursor: pointer;
}