.product{
    flex: 4;
    padding: 20px;
}
.productTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productAddButton{
    width: 80px;
    border-radius: 5px;
    background-color: teal;
    color: white;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}
.productInfoImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.productTop{
    display: flex;
}

.productTopLeft,.productTopRight{
    flex: 1;
}

.productTopRight{
padding: 20px;
margin: 20px;
border-radius: 5px;
-webkit-box-shadow: 1px 0px 6px 3px rgba(114, 106, 106, 0.68); 
box-shadow: 1px 0px 6px 3px rgba(0,0,0,0.68);
}
.productInfoTop{
    display: flex;
    align-items: center;
}
.productName{
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}
.productInfoBottom{
    margin-top: 10px;
}
.productInfoItem{
    display: flex;
    width: 150px;
    justify-content:space-between ;
}
.productInfoValue{
    font-weight: 300;
}
.productBottom{
padding: 20px;
margin: 20px;
border-radius: 5px;
-webkit-box-shadow: 1px 0px 6px 3px rgba(114, 106, 106, 0.68); 
box-shadow: 1px 0px 6px 3px rgba(0,0,0,0.68);

}
#file{
    display: none;
}
.publish{
    cursor: pointer;
}
.productButton{
    width: 150px;
    border-radius: 5px;
    background-color: teal;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.productForm{
    display: flex;
    justify-content: space-between;
}
.productFormLeft{
    display: flex;
    flex-direction: column;
}
.productFormLeft>label{
    margin-bottom: 10px;
    color: gray;
}
.productFormLeft>input{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid gray;
}
.productFormLeft>select{
    margin-bottom: 10px;
}
.productUploadImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.productFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.productUpload{
    display: flex;
    align-items: center;
}