.sidebar{
    flex: 1;
    height:calc (100vh-50px);
    background-color: rgba(251, 251, 255);
    position: sticky;
    top: 50px;
}
.sidebarWrapper{
    padding:20px;
    color: #555;
}
.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
font-size: 13px;
color: rgb(187, 186,186);
}

.sidebarList{
    list-style-type: none;
    padding: 5px;
}

.sidebarListItem{
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}
.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(240,240,255);
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}

.Link{
    text-decoration: none;
    color: inherit;
}
    
