.widgetSm{
    flex: 1;
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 1px 0px 6px 3px rgba(114, 106, 106, 0.68); 
    box-shadow: 1px 0px 6px 3px rgba(0,0,0,0.68);
}

.widgetSmTitle{
    font-size: 22px;
    font-weight: 600;
}
.user_pic{
width: 40px;
height: 40px;
object-fit:cover;
border-radius: 50%;
}
.widgetSmList{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.widgetSmListItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}
.widgetSmUser{
    display: flex;
    flex-direction: column;
}
.widgetSmUserName{
    font-weight: 600;
}
.widgetSmUserJobTitle{
    font-weight: 300;
}
.widgetSmButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
}
.widgetSmIcon{
    font-size: 16px;
    margin-right: 10px;
}
