.widgetLg{
    flex: 2;
    border-radius: 5px;
    padding: 20px;
    margin-left: 20px;
    -webkit-box-shadow: 1px 0px 6px 3px rgba(114, 106, 106, 0.68); 
    box-shadow: 1px 0px 6px 3px rgba(0,0,0,0.68);
}
.widgetLgTitle{
    font-size: 22px;
    font-weight: 600;
}
.widgetLgUserImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.widgetLgUserName{
    display: flex;
    font-weight: 600;
}
.widgetLgDate,.widgetLgAmount{
font-weight:300;
}
.widgetLgButton{
    padding: 5px 7px;
    border-radius: 10px;
}
.widgetLgButton.Approved{
    background-color: rgb(94, 231, 94);
    color:rgb(26, 133, 26);
}
.widgetLgButton.Pending{
    background-color: rgb(218, 129, 129);
    color:  rgb(124, 37, 37);;
}
.widgetLgButton.Declined{
    background-color: rgb(148, 129, 202);
    color: rgb(95, 52, 212);
}
.widgetLgTable{
    width: 100%;
    border-spacing: 20px;
}
.widgetLgTh{
    text-align: left;
}