.Users{
    flex: 4;
    padding: 20px;
}
.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userAddButton{
    width: 80px;
    border-radius: 5px;
    padding: 5px;
    background-color: darkcyan;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.userContainer{
    display: flex;
    margin-top: 20px;
}
.userShow{
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    -webkit-box-shadow: 1px 0px 6px 3px rgba(114, 106, 106, 0.68); 
    box-shadow: 1px 0px 6px 3px rgba(0,0,0,0.68);
}
.userShowUpdate{
    flex: 2;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 1px 0px 6px 3px rgba(114, 106, 106, 0.68); 
    box-shadow: 1px 0px 6px 3px rgba(0,0,0,0.68);
}
.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.userShowTopTitle{
    display: flex;
    flex-direction: row;
    font-weight: 300px;
   
}
.userShowyyg{
display: flex;
flex-direction: column;
margin-left: 15px;
}
.userShowUsername{
    font-size: 20px;
    font-weight: 600;
}
.userShowBottom{
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}
.userShowIcon{
    margin-right: 10px;
}
.userShowBottomTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(158, 157, 157);
}
.userShowInfo{
    align-items: center;
    display: flex;
    margin: 20px 0px;
    color: #444;
}
.userShowIcon{
    font-size: 16px !important;
}
#file{
    display: none;
}
.userUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
}
.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}
.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}
.userUpdateInput{
    width: 250px;
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
}
.userUpdateRight{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.userUpdateUpload{
    display: flex;
    align-items: center;
}
.userUpdateIcon{
    cursor: pointer;
}
.userUpdateButton{
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
}